In [1]:
import hvplot
import numpy as np
import pandas as pd
from functions import *

In [2]:
dow_jones = dow_jones()

[*********************100%***********************]  1 of 1 completed

In [3]:
dow_jones

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2011-01-03,11670.799805,11670.799805,11670.799805,11670.799805,11670.799805,0
2011-01-04,11691.200195,11691.200195,11691.200195,11691.200195,11691.200195,0
2011-01-05,11722.900391,11722.900391,11722.900391,11722.900391,11722.900391,0
2011-01-06,11697.299805,11697.299805,11697.299805,11697.299805,11697.299805,0
2011-01-07,11674.799805,11674.799805,11674.799805,11674.799805,11674.799805,0
...,...,...,...,...,...,...
2012-08-13,13169.400391,13169.400391,13169.400391,13169.400391,13169.400391,0
2012-08-14,13172.099609,13172.099609,13172.099609,13172.099609,13172.099609,0
2012-08-15,13164.799805,13164.799805,13164.799805,13164.799805,13164.799805,0
2012-08-16,13250.099609,13250.099609,13250.099609,13250.099609,13250.099609,0
2012-08-17,13275.200195,13275.200195,13275.200195,13275.200195,13275.200195,0