In [1]:
import hvplot
import numpy as np
import pandas as pd
from functions import *

In [2]:
dow_jones = dow_jones()

[*********************100%***********************]  1 of 1 completed

In [3]:
display(dow_jones.head())
display(dow_jones.tail())

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2012-08-24,13158.000000,13158.000000,13158.000000,13158.000000,13158.000000,0
2012-08-27,13124.700195,13124.700195,13124.700195,13124.700195,13124.700195,0
2012-08-28,13103.000000,13103.000000,13103.000000,13103.000000,13103.000000,0
2012-08-29,13107.500000,13107.500000,13107.500000,13107.500000,13107.500000,0
2012-08-30,13000.700195,13000.700195,13000.700195,13000.700195,13000.700195,0

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-02-24,33223.800781,33223.800781,33223.800781,33223.800781,33223.800781,0
2022-02-25,34058.800781,34058.800781,34058.800781,34058.800781,34058.800781,0
2022-02-28,33892.601562,33892.601562,33892.601562,33892.601562,33892.601562,0
2022-03-01,33294.898438,33294.898438,33294.898438,33294.898438,33294.898438,0
2022-03-02,33891.300781,33891.300781,33891.300781,33891.300781,33891.300781,0