In [1]:
import hvplot
import numpy as np
import pandas as pd
from functions import *
%matplotlib inline

In [2]:
#dow_jones = dow_jones()

In [3]:
#dow_jones = close(dow_jones)

In [4]:
#dow_jones.plot()

In [5]:
spy()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2012-08-24,140.309998,141.830002,140.220001,141.509995,117.093903,99481200
2012-08-27,141.889999,142.080002,141.339996,141.539993,117.118752,68785900
2012-08-28,141.179993,141.839996,140.970001,141.399994,117.002892,75689600
2012-08-29,141.520004,141.889999,141.119995,141.509995,117.093903,65421300
2012-08-30,140.899994,140.940002,140.190002,140.490005,116.249924,96589900
...,...,...,...,...,...,...
2022-08-17,425.910004,429.500000,424.540009,426.649994,426.649994,63563400
2022-08-18,426.859985,428.609985,425.500000,427.890015,427.890015,49023200
2022-08-19,424.980011,425.260010,421.220001,422.140015,422.140015,67934700
2022-08-22,417.049988,417.230011,412.399994,413.350006,413.350006,77695600
2022-08-23,412.899994,415.420013,411.769989,412.350006,412.350006,48926800

In [6]:
gme = stock("GME")
goog = stock("GOOG")
tsla = stock("TSLA")

In [7]:
gme = close(gme)
goog = close(goog)
gme
goog
close(gme, goog, tsla)

TypeError: close() takes 1 positional argument but 3 were given