In [1]:
import hvplot
import numpy as np
import pandas as pd
from functions import *
%matplotlib inline

In [2]:
dow_jones = dow_jones()

[*********************100%***********************]  1 of 1 completed

In [3]:
dow_jones = close(dow_jones)

In [4]:
#dow_jones.plot()

In [5]:
spy()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2012-08-27,141.889999,142.080002,141.339996,141.539993,117.118752,68785900
2012-08-28,141.179993,141.839996,140.970001,141.399994,117.002937,75689600
2012-08-29,141.520004,141.889999,141.119995,141.509995,117.093918,65421300
2012-08-30,140.899994,140.940002,140.190002,140.490005,116.249939,96589900
2012-08-31,141.289993,141.820007,140.360001,141.160004,116.804337,151970400
...,...,...,...,...,...,...
2022-08-19,424.980011,425.260010,421.220001,422.140015,422.140015,67934700
2022-08-22,417.049988,417.230011,412.399994,413.350006,413.350006,77695600
2022-08-23,412.899994,415.420013,411.769989,412.350006,412.350006,49105200
2022-08-24,412.109985,415.109985,411.390015,413.670013,413.670013,49177800
2022-08-25,415.239990,419.559998,414.089996,419.510010,419.510010,50942252

In [6]:
gme = stock("GME")
goog = stock("GOOG")
tsla = stock("TSLA")

In [7]:
#gme = close(gme)
#goog = close(goog)

close2("BBBY").cov(dow_jones) # We will have to add a covariance function, in which
# we have two paramaters, stock 1 and stock 2.  It would look similar to the above.

[*********************100%***********************]  1 of 1 completed

-111869.3580801596

In [9]:
df = pd.read_csv("untitled.csv")
df.head()

  ACT Symbol                                       Company Name
0          A            Agilent Technologies, Inc. Common Stock
1         AA                            Alcoa Inc. Common Stock
2       AA$B  Alcoa Inc. Depository Shares Representing 1/10...
3        AAC                    AAC Holdings, Inc. Common Stock
4        AAN                         Aaron's, Inc. Common Stock

In [10]:
df['ACT Symbol']

0          A
1         AA
2       AA$B
3        AAC
4        AAN
        ...
3293    ZPIN
3294     ZQK
3295     ZTR
3296     ZTS
3297      ZX
Name: ACT Symbol, Length: 3298, dtype: object