In [1]:
import hvplot
import numpy as np
import pandas as pd
from functions import *
%matplotlib inline

In [2]:
#dow_jones = dow_jones()

In [3]:
#dow_jones = close(dow_jones)

In [4]:
#dow_jones.plot()

In [5]:
gme = choice("GME")
goog = choice("GOOG")
tsla = choice("TSLA")

In [6]:
gme

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-08-24,4.566759,4.644447,4.545763,4.573059,16938400,0.0,0.0
2017-08-25,4.178322,4.186721,3.930563,4.073339,82002800,0.0,0.0
2017-08-28,4.075440,4.136330,3.980955,4.020849,20913600,0.0,0.0
2017-08-29,3.974656,4.004052,3.913766,3.936862,18670800,0.0,0.0
2017-08-30,3.936862,3.983055,3.922165,3.945261,8840400,0.0,0.0
...,...,...,...,...,...,...,...
2022-08-17,42.180000,44.360001,40.410000,40.520000,9766400,0.0,0.0
2022-08-18,39.270000,40.070000,37.340000,37.930000,8145400,0.0,0.0
2022-08-19,35.180000,37.189999,34.669998,36.490002,9525600,0.0,0.0
2022-08-22,34.310001,36.200001,34.200001,34.500000,5798600,0.0,0.0
2022-08-23,34.700001,34.990002,33.450001,33.529999,4828700,0.0,0.0

In [7]:
tsla

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-08-24,70.503998,71.332001,69.947998,70.585999,22923500,0,0.0
2017-08-25,70.848000,71.138000,69.459999,69.610001,17420000,0,0.0
2017-08-28,69.456001,69.470001,67.944000,69.132004,18820000,0,0.0
2017-08-29,67.896004,69.809998,67.750000,69.472000,20368500,0,0.0
2017-08-30,69.933998,70.694000,69.400002,70.636002,17064500,0,0.0
...,...,...,...,...,...,...,...
2022-08-17,910.190002,928.969971,900.099976,911.989990,22922000,0,0.0
2022-08-18,918.000000,919.500000,905.559998,908.609985,15833500,0,0.0
2022-08-19,897.000000,901.080017,877.500000,890.000000,20417900,0,0.0
2022-08-22,875.739990,877.200012,858.890015,869.739990,18614400,0,0.0
2022-08-23,874.359985,896.479980,863.770020,889.359985,21269900,0,0.0

In [8]:
goog

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-08-24,46.432999,46.542000,45.775002,46.063999,25406000,0,0.0
2017-08-25,46.174500,46.277748,45.775002,45.794498,21068000,0,0.0
2017-08-28,45.799999,45.962250,45.593498,45.690498,21730000,0,0.0
2017-08-29,45.255001,46.166500,45.250000,46.064499,23712000,0,0.0
2017-08-30,46.002499,46.540951,45.982498,46.478500,26024000,0,0.0
...,...,...,...,...,...,...,...
2022-08-17,120.930000,122.150002,120.199997,120.320000,17589200,0,0.0
2022-08-18,120.230003,121.690002,119.550003,120.860001,15652000,0,0.0
2022-08-19,119.870003,120.000000,117.669998,118.120003,20171100,0,0.0
2022-08-22,116.099998,116.500000,114.669998,115.070000,19316000,0,0.0
2022-08-23,114.320000,115.930000,114.300003,114.769997,14390691,0,0.0